/*

File:		eqtr_main.css
Created:	23rd Sept
Author:		Chris Gorman

Notes: Modify the twitter bootstrap to custom the CSS


*/
body {
    background-color: #f0f4cd;
    padding: 25px;
    color:#666666;
    font-size:12px;
}
.container{
    max-width:1024px;
    border: #bed024 solid 2px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #FFFFFF;
}
.titletext {
    font-size:19px;
    color:#184777;
}
.right {
    text-align:right;
}
h1, h2 {
    font-size:19px;
    color:#184777;
}

/*
 *  Site header, just contains the logo
 */
header {
    background-color:transparent;
    padding:20px 0px;
}
header a#logo span{
    display:none;
}
header a#logo{
    float:left;
    display:block;
    width:296px;
    height:57px;
    background-image:url('/assets/images/logo-desktop.jpg');
    background-repeat:no-repeat;
}

/*
 *  Navbar - a customisation of the twitter bootstrap navbar
 */
.navbar {
    clear:both;
    margin-bottom: 20px;
    min-height:30px;
}
.navbar-brand {
    display:none;
}
.navbar-default {
    background: -webkit-linear-gradient(#7d9ec8, #225b9c); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#7d9ec8, #225b9c); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#7d9ec8, #225b9c); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#7d9ec8, #225b9c); /* Standard syntax (must be last) */
    border:#184777 1px solid;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
#navigation .container-fluid {
    padding:0px;
}
#navigation .navbar-nav {
    margin-left:-1.2em;
}
#navigation .navbar-nav li a {
    color:#FFFFFF;
    padding-top:5px;
    padding-bottom:5px;
    font-size:12px;
    border-right:#184777 1px solid;
}
#navigation .navbar-nav li a:hover {
    color:#184777;
    background: -webkit-linear-gradient(#d6e2f0, #c4d4e7); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#d6e2f0, #c4d4e7); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#d6e2f0, #c4d4e7); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#d6e2f0, #c4d4e7); /* Standard syntax (must be last) */
}
#navigation .navbar-nav li.active a {
    color:#184777;
    background: -webkit-linear-gradient(#b3c7e0, #88a7cb); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#b3c7e0, #88a7cb); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#b3c7e0, #88a7cb); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#b3c7e0, #88a7cb); /* Standard syntax (must be last) */
}

/*
 *  Main content area, left side
 */
#content {
    margin-bottom:60px;
}
#content #homebanner {
    float:left;
    width:100%;
}
#content #homebanner img {
    width:100%;
}
#content #homebannerjoin {
    position:absolute;
    bottom:10px;
    right:3em;
    width:143px;
    height:36px;
    overflow:hidden;
}

/*
 *  Main content area, right side
 */
#content #regbanner img {
    width:100%;
}
#regbannertext {
    position:absolute;
    top:0px;
    left:1em;
    padding:20px;
    margin-right:1em;
    font-size:16px;
}
.right-content ul {
    padding-left:20px;
    margin-bottom:20px;
}
.right-content ul li {
    list-style-image: url('/assets/images/arrow.gif');
    margin-bottom:10px;
}
.reginput {
    margin:0px;
    padding:3px 10px 3px 10px;
    width:100%;
    color:#5a5a5a;
    border:#c8cabc 1px solid;
    -webkit-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-radius: 5px;
}

/*
 *  Generic Join
 */
.joinnow {
    display:block;
    width:143px;
    height:36px;
    background:transparent url('/assets/images/join.png') 0px 0px no-repeat;
}
.joinnow:hover {
    background-position:0px -36px;
}
.joinnow span {
    display:none;
}

/*
 *  Footer, an extension of the container without the round borders
 */
.footer {
    padding:20px;
    color:#FFFFFF;
    border:none;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color:#bed024;
}


@media (max-width: 1200px) {
    .titletext {
        font-size:16px;
    }
}
@media (max-width: 991px) {
    #regbannertext .titletext {
        font-size:12px;
    }
    #regbannertext {
        font-size:10px;
    }
    #content #homebannerjoin {
        bottom:2px;
        right:2em;
    }
}