/*

File:		eqtr_main.css
Created:	***DATE HERE***
Author:		***NAME HERE***	

Notes:


*/
body {
    background-color: #f0f4cd;
    padding: 25px;
}

.navbar {
    margin-bottom: 20px;
}